:root {
    /* Colores principales */
    --color-principal: #00bf86;
    /* Verde principal */
    --color-secundario: #FFC857;
    /* Amarillo para botones y elementos destacados */

    /* Colores de texto */
    --color-texto-claro: #ffffff;
    /* Texto claro (blanco) */
    --color-texto-oscuro: #4A4A4A;
    /* Texto oscuro (gris oscuro) */

    /* Color de fondo */
    --color-fondo: #F0F0F0;
    /* Fondo gris claro */
    --color-fondo-alternativo: #F7F5F2;
    /* Fondo beige claro */
    --color--gris-fondo: #e0e0e0;
}

.newAppointmentNegocio {
    grid-area: newAppointmentNegocio;
}

.newAppointmentsAvailable {
    grid-area: newAppointmentsAvailable;
    background-color: #fff;
    padding-top: 10px;
}

.newAppointmentsAvailable button {
    margin: 5px;
    border: none;
    font-size: 1.1rem;
    background-color: #fff;
    transition: 0.3s;
}

.newAppointmentsAvailable button:hover {
    color: #00ac78;
    font-weight: 600;
}

.newAppointmentButton {
    grid-area: newAppointmentButton;

}


.boxNewAppointment {
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas:
        'newAppointmentNegocio'
        'newAppointmentsAvailable'
        'newAppointmentButton';
}