.boxImageUserProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
}

.boxImageUserProfile img {
    width: 50%;
    border-radius: 50%;
}

.boxNameUserProfile {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    font-weight: 400;
}

.nameUserProfile {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}

.boxNameUserProfileSpan {
    margin: 0px;
    padding: 0px;
    font-size: 0.85rem;
}